<table id="messages_by_sender_and_category">
  <thead>
    <tr>
      <th>Sender category</th>
      <th>Sender email</th>
      <th>Received</th>
      <th>Subject</th>
      <th>Extracted datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message["category"] %></td>
        <td><%= message["sender_email"].split("@").last %></td>
        <td><%= message["received_at"] %></td>
        <td><%= message["subject"] %></td>
        <td>
        <% if message["extracted_datetime"] %>
        <%= message["extracted_datetime"] %>
        <% end %>
        </td>
        <td><%= link_to 'Show', message_path(message["id"]) %></td>
        <td><%= link_to 'Destroy', message_path(message["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
