<!DOCTYPE html>
<html>
  <head>
    <title>Subscriptiono</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <div class="row">
        <h4>If you don't want to use your own email, please feel free to try out this application with the test account credentials:</hr>
      </div>
      <div class="row">
        <b>Account:</b> imaptime@gmail.com
      </div>
      <br>
      <div class="row">
        <b>Password:</b> testthisapp
      </div>
      <br>
      <br>
    <% end %>


    <%= yield %>
  </body>
</html>
